
.outer-flex-container {
    display: flex;
    flex-direction: column;
    height: 600px;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
    width: 100%;
}

.header-top{
    display: flex;
    gap:20px;
}

.header-middle{
    display: flex;
    gap: 200px;
}

.header-middle-left{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.header-middle-right{
    display:flex;
    flex-direction: row;
    
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
    background-color: lightgray;
    height: 100%;
    width: 100%;
}

.content-top{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.content-top-photos{
    display: flex;
    gap: 200px;
    padding:60px;
   
}

.content-middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
    width: 100%;
    padding: 60px;
}

.content-bottom{
    display: flex;
    gap: 200px;
    padding: 40px;
}


.content-bottom-right{
    margin-top: 30px;
}

.footer{
    text-align: center;
}