/*dont set width and height if you dont want it to be a fixed size

max-width: 100% so the image does not scale beyond its native resolution, i.e. become pixelated. This can be changed to width: 100% if you like pixelated images.
height: auto so the image ration is preserved.


*/

.outer-flex-container {
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    flex: 1;
    height: auto;
    max-width: 100%;
    
}

.header-middle-left button{
    width: 6vw;
   
}

.header-top{
    display: flex;
    color: #F9FAF8;
    font-weight: bold;
    gap:2vw;
    padding-left:2vw;
    
}

.push-right{
    margin-left: auto;
}

.header-middle{
    display: flex;
    justify-content: space-around;
    color: #F9FAf8;  
    margin-bottom: 3vw;
    max-width: 100%;
    height:auto;
}


.header-middle-left{
    display: flex;
    flex-direction: column;
    max-width:100%;
    height:auto;
    
}

.header-middle-left h1{
    font-size: 48px;
    max-width:100%;
    height: auto;
}

.header-middle-right img{
   max-width:100%;
   height:auto;

}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    height: auto;
    max-width: 100%;
    color: #1F2937;
}

.content-top{
    text-align: center;
}

.content-top-title{
    font-size: 36px;
    font-weight:bold;
    
}

.content-top-photos{
    display: flex;
    padding:60px;
    gap: 40px;
}



.cards img{
    border: 5px;
    border-color: black;
    border-style: solid;
    max-width: 100%;
    height: auto;
}

.content-middle{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #E5E7EB;
    max-width: 100%;
    height: auto;
    padding: 4vw 12vw;
}

.content-bottom{
    display: flex;
    gap: 10vw;
    padding: 2vw 4vw;
    color: #F9FAF8;
    font-weight: bold;
    background-color: #3882F6;
    margin: 3vw;
}


.content-bottom-right button{
    background-color: #3882F6;
    color: #F9FAF8;
    border-color: #F9FAF8;
    font-weight: bold;
    padding: .3vw 1vw ;
    margin-top: 2vw;
}

.footer{
   display: flex;
   color: #F9FAF8;
   font-weight: bold;
   justify-content: center;
   background-color: #1F2937;
}